<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <trace enabled="false"/>
    <authentication mode="None"/>
    <httpRuntime enableVersionHeader="false"/>
  </system.web>
  <system.webServer>
    <!--
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true" />
    
    <caching enabled="true" enableKernelCache="true">
      <profiles>
        <add extension=".jpg" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" />
        <add extension=".jpeg" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" />
        <add extension=".gif" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" />
        <add extension=".png" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" />
        <add extension=".ico" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" />
      </profiles>
    </caching>
    
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="15.00:00:00" />
    </staticContent>

    -->
    
    <security>
      <authentication>
        <basicAuthentication enabled="false"/>
      </authentication>
    </security>
    
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.htm"/>
      </files>
    </defaultDocument>

    <httpProtocol>
      <customHeaders>
        <clear />
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>

  </system.webServer>
</configuration>